<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/favicon.png" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://attheme-glossary.snejugal.ru/{{ lang }}"
    />
    <meta
      property="og:image"
      content="https://attheme-glossary.snejugal.ru/static/social.jpg"
    />
    <link
      rel="alternate"
      hreflang="{{ lang }}"
      href="https://attheme-glossary.snejugal.ru/{{ lang }}"
    />
    {% for lang in languages %}
    <link
      rel="alternate"
      hreflang="{{ lang.0 }}"
      href="https://attheme-glossary.snejugal.ru/{{ lang.0 }}"
    />
    {% endfor %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1>{{ title }}</h1>
        <div class="languageSwitcher">
          <ul class="languageSwitcher_inner">
            <li class="languageSwitcher_language">
              <a>{{ language_name }}</a>
            </li>
            {% for lang in languages %}
            <li class="languageSwitcher_language">
              <a href="/{{ lang.0 }}">{{ lang.1 }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    <main class="container">
      {{ content }}
    </main>
    <link rel="stylesheet" href="/static/style.css" />
  </body>
</html>
