* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;

  --red: 244, 67, 54;
  --pink: 233, 30, 99;
  --purple: 156, 39, 176;
  --deepPurple: 103, 58, 183;
  --indigo: 63, 81, 181;
  --blue: 33, 150, 243;
  --lightBlue: 3, 169, 244;
  --cyan: 0, 188, 212;
  --teal: 0, 150, 136;
  --green: 76, 175, 80;
  --lightGreen: 139, 195, 74;
  --lime: 192, 202, 51;
  --yellow: 253, 216, 53;
  --amber: 255, 179, 0;
  --orange: 255, 152, 0;
  --deepOrange: 255, 87, 34;
  --brown: 121, 85, 72;
  --gray: 117, 117, 117;
  --blueGray: 96, 125, 139;

  --background: #fafafa;
  --cardBackground: #ffffff;
  --text: rgba(0, 0, 0, 0.9);
  --borderRadius: 5px;
  --lineHeight: 27px;

  --serif: "Liberation Serif", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  --sansSerif: Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, "Open Sans", "Helvetica Neue", sans-serif;
  --monospace: "Fira Code", "Ubuntu Mono", "Liberation Mono", "Roboto Mono",
    monospace;
}

body {
  margin: 0;
  background-color: var(--background);

  color: var(--text);
  font-family: var(--serif);
  font-size: 18px;
  line-height: 1.5;
  cursor: default;
}

header {
  background-color: var(--cardBackground);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  padding: 20px 0;
  font-size: 20px;
  line-height: 1;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.languageSwitcher {
  margin: -7px 0;
  z-index: 1;
  height: 34px;
}

.languageSwitcher_inner {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 5px;
  list-style: none;

  text-align: right;
  font-size: 14px;
  font-family: var(--sansSerif);

  transition-property: box-shadow, background-color;
  transition-duration: 300ms;
}

.languageSwitcher_language:not(:first-child) {
  animation-name: fadeIn, fadeInDisplay;
  animation-fill-mode: both;
  animation-duration: 150ms, 300ms;
}

.languageSwitcher_language:first-child {
  --icon: url("/static/dropdown.svg");
  --highlight: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition-property: border-bottom-color;
  transition-duration: 300ms;
  border-bottom: 1px solid transparent;
}

.languageSwitcher_language a {
  --highlight: 0, 0, 0;
  transition: background-color ease 300ms;
}

.languageSwitcher_language:last-child a {
  border-radius: 0 0 5px 5px;
}

.languageSwitcher_language:not(:first-child) a:hover {
  background-color: rgba(var(--highlight), 0.05);
}

.languageSwitcher_language:not(:first-child) a:active {
  background-color: rgba(var(--highlight), 0.15);
}

.languageSwitcher_language a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-bottom: none;
  color: var(--text);
}

.languageSwitcher_language a::after {
  content: "";
  width: 7px;
  height: 4px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.languageSwitcher_language:first-child a::after {
  background-image: var(--icon);
}

.languageSwitcher_language a:hover,
.languageSwitcher_language a:active {
  opacity: 1;
}

.languageSwitcher:hover .languageSwitcher_language:not(:first-child),
.languageSwitcher:active .languageSwitcher_language:not(:first-child) {
  animation-name: fadeOut;
}

.languageSwitcher:hover .languageSwitcher_inner,
.languageSwitcher:active .languageSwitcher_inner {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  background-color: var(--cardBackground);
}

.languageSwitcher:hover .languageSwitcher_language:first-child,
.languageSwitcher:active .languageSwitcher_language:first-child {
  border-bottom-color: var(--highlight);
}

h1 {
  color: rgb(var(--indigo));
  font-family: var(--sansSerif);
  font-weight: normal;
  font-size: 20px;

  margin: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
  line-height: var(--lineHeight);
}

h2,
h3,
h4,
h5,
h6 {
  --hashtagColor: var(--indigo);

  font-family: var(--sansSerif);
  font-weight: normal;
  line-height: calc(var(--lineHeight) * 2);
  margin: 0 0 var(--lineHeight) 0;
  color: var(--text);
}

h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  content: "#";
  opacity: 0;
  float: right;
  color: var(--text);

  transition-property: opacity, color;
  transition-duration: 300ms;
}

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after,
a:focus h2::after,
a:focus h3::after,
a:focus h4::after,
a:focus h5::after,
a:focus h6::after {
  opacity: calc(1 / 3);
}

h2:active::after,
h3:active::after,
h4:active::after,
h5:active::after,
h6:active::after {
  opacity: calc(2 / 3);
}

h2:target::after,
h3:target::after,
h4:target::after,
h5:target::after,
h6:target::after {
  color: rgb(var(--hashtagColor));
  opacity: 1;
}

a {
  --color: var(--indigo);
  color: rgb(var(--color));

  text-decoration: none;
  border-bottom: 1px solid rgba(var(--color), 0.5);

  transition: opacity ease 300ms;
}

a:hover {
  opacity: calc(2 / 3);
}

a:active {
  opacity: calc(1 / 3);
}

p {
  margin: 0 0 var(--lineHeight) 0;
}

.container {
  max-width: calc(var(--lineHeight) * 2 + 650px);
  padding: 0 var(--lineHeight);
  margin: 0 auto;
}

main.container {
  margin: 50px auto;
}

code {
  font-family: var(--monospace);
}

article {
  --color: var(--text);
  padding: var(--lineHeight);
  padding-top: calc(var(--lineHeight) - 2px);
  background: var(--cardBackground);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: var(--borderRadius);
  border-top: 2px solid rgb(var(--color));

  margin-bottom: var(--lineHeight);
}

article > a:first-child {
  display: block;
  margin: 0 0 var(--lineHeight) 0;
  border-bottom: none;
  --color: inherit;
}

section > a:first-child:hover,
section > a:first-child:active,
article > a:first-child:hover,
article > a:first-child:active {
  opacity: 1;
}

article > a > h3,
article > a > h4,
article > a > h5,
article > a > h6 {
  color: rgb(var(--color));
  --hashtagColor: var(--color);

  font-family: var(--monospace);
  font-size: 18px;
  line-height: var(--lineHeight);
}

article:target > a > h2::after,
article:target > a > h3::after,
article:target > a > h4::after,
article:target > a > h5::after,
article:target > a > h6::after {
  color: rgb(var(--hashtagColor));
  opacity: 1;
}

.-red {
  --color: var(--red);
}

.-pink {
  --color: var(--pink);
}

.-purple {
  --color: var(--purple);
}

.-deepPurple {
  --color: var(--deepPurple);
}

.-indigo {
  --color: var(--indigo);
}

.-blue {
  --color: var(--blue);
}

.-lightBlue {
  --color: var(--lightBlue);
}

.-cyan {
  --color: var(--cyan);
}

.-teal {
  --color: var(--teal);
}

.-green {
  --color: var(--green);
}

.-lightGreen {
  --color: var(--lightGreen);
}

.-lime {
  --color: var(--lime);
}

.-yellow {
  --color: var(--yellow);
}

.-amber {
  --color: var(--amber);
}

.-orange {
  --color: var(--orange);
}

.-deepOrange {
  --color: var(--deepOrange);
}

.-brown {
  --color: var(--brown);
}

.-gray {
  --color: var(--gray);
}

.-blueGray {
  --color: var(--blueGray);
}

article :last-child {
  margin-bottom: 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 var(--lineHeight) 0;

  background: rgb(0, 0, 0, 0.01);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: var(--borderRadius);
  overflow: hidden;
}

figcaption {
  padding: var(--lineHeight);
  background: var(--cardBackground);
  width: 100%;
}

figure img {
  max-width: 100%;
  max-height: 90vh;
}

main ul {
  list-style: none;

  margin: 0 0 27px 0;
  padding: 0;
}

main ul li {
  display: flex;
  align-items: flex-start;
}

main ul li::before {
  content: "•";
  color: rgb(var(--indigo));
  width: var(--lineHeight);
  height: var(--lineHeight);
  text-align: center;
  flex-shrink: 0;
}

main ul p {
  margin: 0;
}

ol {
  list-style: none;
  counter-reset: li-counter calc(var(--start) - 1);

  margin: 0 0 var(--lineHeight) 0;
  padding: 0;
}

ol li {
  display: flex;
  align-items: flex-start;
}

ol li::before {
  content: counters(li-counter, ".") " ";
  counter-increment: li-counter;

  color: rgb(var(--indigo));
  text-align: center;
  font-family: var(--sansSerif);

  width: var(--lineHeight);
  height: var(--lineHeight);
}

ol p {
  margin: 0;
}

@media (max-width: 704px) {
  :root {
    --borderRadius: 0;
  }

  main.container {
    margin: var(--lineHeight) 0;
  }

  article {
    margin-left: calc(-1 * var(--lineHeight));
    margin-right: calc(-1 * var(--lineHeight));
  }

  figure {
    margin-left: calc(-1 * var(--lineHeight));
    margin-right: calc(-1 * var(--lineHeight));
  }

  ol,
  ul {
    margin-left: calc(-1 * var(--lineHeight));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --cardBackground: #202020;
    --text: rgb(255, 255, 255, 0.85);

    --deepPurple: 126, 87, 194;
    --indigo: 121, 134, 203;
    --teal: 38, 166, 154;
    --lime: 205, 220, 57;
    --yellow: 255, 235, 61;
    --amber: 255, 193, 7;
    --brown: 141, 109, 98;
    --gray: 158, 158, 158;
  }

  figure {
    background-color: #151515;
  }

  .languageSwitcher_language:first-child {
    --icon: url("/static/dropdown.dark.svg");
    --highlight: rgba(255, 255, 255, 0.1);
  }

  .languageSwitcher_language a {
    --highlight: 255, 255, 255;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInDisplay {
  from {
    display: block;
  }

  to {
    display: none;
  }
}
